.Body {
    color: #000000;
    font-family: 'Helvetica', 'Helvetica';
    font-size: 12.00pt;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.17;
    margin-bottom: 0.000000pt;
    margin-left: 0.00pt;
    margin-right: 0.00pt;
    margin-top: 0.000000pt;
    padding-bottom: 12.000000pt;
    padding-top: 0.000000pt;
    text-align: left;
    text-decoration: none;
    text-indent: 0.00pt;
    text-transform: none;
    vertical-align: 0.000000em;
}
